@import "tailwindcss";

@theme static{
  --color-indor-brown: #806c62;
  --color-indor-brown-light: #c6baaa;
  --color-indor-black: #2c2c2c;
  --color-indor-orange: #ef7926;
  --color-orange-clair: #ee7927;
  --color-orange-vivid: #f48a34;
  --color-orange-dense: #ff6600;
  --color-orange-pale: #f0b256;
  --color-orange-light: #f0aa50;
  --color-green-vivid: #86ef48;
  --color-green-dense: #6bbe38;
  --color-blue-vivid: #2dadff;
  --color-blue-dense: #1865ff;
  --font-jolly: var(--font-jolly-lodger)
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
